<div class="forgot-password-page">
    <!-- Background flou -->
    <div class="blur-background"></div>
  
    <!-- Contenu du formulaire -->
    <div class="forgot-password-content">
      <img src="assets/image-dawamaghreb/dawamaghreb_logo.jpg" alt="Logo Dawa" class="logo" />
      <h2>Mot de passe oublié</h2>
      <p>Entrez votre adresse email pour réinitialiser votre mot de passe.</p>
      
      <form>
        <input type="email" placeholder="Votre email" required />
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
  
      <a href="/login" class="back-login">← Retour à la connexion</a>
    </div>
  </div>
  