<div class="home-container"> 
  <div class="blur-background"></div>

  <img src="assets/image-dawamaghreb/dawamaghreb_logo.jpg"
       alt="Logo Dawa"
       class="logo" />

  <h1 class="title">CHEF DE PROJET</h1>

  <div class="cards">

    <a routerLink="/documents" class="card">
      <h2>Centraliser les documents</h2>
      <button class="mini-btn">➔</button>
    </a>

    <div class="card">
      <h2>Résultats mieux offrant</h2>
      <button class="mini-btn" (click)="allerAuMieuxOffrant()">➔</button>
    </div>

 <div class="card">
  <h2>Communication fournisseurs</h2>
  <button class="mini-btn" (click)="allerAuCommunicationFournisseurs()">➔</button>
</div>
</div>
</div>