<div class="home-container"> 
  <img src="/assets/image-dawamaghreb/dawamaghreb_logo.jpg" alt="Logo Dawa" class="logo" />
  <h1 class="title">Vous êtes !</h1>

  <div class="roles">
    <!-- Maître d’ouvrage -->
    <div class="role">
      <button class="role-title" (click)="goToMaitreOuvrage()">
        Maître d’ouvrage
      </button>
      <div class="tasks">
        <div class="task">Téléchargement et consultation des documents</div>
        <div class="task">Signature des documents</div>
        <div class="task">Mise en ligne des documents signés</div>
      </div>
    </div>

    <!-- Chef de projet -->
    <div class="role">
      <button class="role-title" (click)="goToChefDeProjet()">
        Chef de projet
      </button>
      <div class="tasks">
        <div class="task">Centraliser les documents liés au projet</div>
        <div class="task">Saisir et publier les résultats du mieux offrant</div>
        <div class="task">Gérer la communication avec les fournisseurs</div>
      </div>
    </div>

    <!-- Fournisseur -->
    <div class="role">
      <button class="role-title" (click)="goToFournisseur()">
        Fournisseur
      </button>
      <div class="tasks">
        <div class="task">Téléchargement de l’avis D’AO</div>
        <div class="task">Soumettre à l’appel d’offres</div>
        <div class="task">Consulter le résultat de l’appel d’offres</div>
      </div>
    </div>
  </div>
</div>
